<div class="container mt-3">
  <h1>Pets Overview</h1>

  <section class="grid-overview-section mb-5">
    <% @pets.each do |pet| %>
      <div class="grid-overview-section-item">
        <%=render "shared/pet_card", pet: pet%>
      </div>
    <% end %>
  </section>
</div>
