<div class="container d-flex justify-content-center align-items-center">
  <div class="form-container mt-5">
    <div class="form-header d-flex justify-content-center">
      <h1>Confirm Booking</h1>
    </div>
    <%= render 'form' %>
    <div class="d-flex justify-content-center ">
      <%= link_to pet_path(@pet),
                  class:"back-button flex-grow-1 d-flex justify-content-center" do%>
        <span>Back</span>
      <%end %>

    </div>
  </div>
</div>
