<div class="card pet-card" style="width: 20rem;">
  <%= link_to "/", class:"pet-card-btn" do%>
  <img class="card-img-top pet-card-image" src="https://picsum.photos/300/200" alt="Card image cap">
  <div class="card-body px-3">
    <h3 class="card-title">Pet Name</h3>
    <p class="card-text">Description</p>
    <p class="card-text">$$$/day</p>
  </div>
  <%end %>
</div>