<div class="container-fluid m-0 p-0">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Rent a Pet!</h1>
      <p>Change your life and rent a pet</p>
      <a class="btn btn-primary" href="#">Browse Pets</a>
    </div>
  </div>
</div>
<div class="container">

<div class="card text-center p-3 mt-3">
<p>want a pet but unsure about owning one? Try rent a pet! Browse through our selection of pets and choose the right one for you!</p>
</div>

</div>
