.brand-link{
  text-decoration: none;
  color: #60463B;
}
.brand-link:hover{
    color: #60463B;
}

.nav-icon{
  font-size: 3em;
  color: #60463B;
}
.nav-brand-text{
  font-size: 32px;
}

.navbar-search{
  width: 50%;
}
.nav-search-container{
  width: 70%;
  background: #F4F4F4;
  border-radius: 50px;
  border: 1px solid rgba(0,0,0,0.3);
}
.form-control:focus {
  box-shadow: none;
}

